@font-face {
  font-family: GothamBold;
  src: url(../../assets/fonts/gotham-bold.ttf); }

.nav {
  color: #FFF;
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: right;
  text-transform: uppercase;
  font: .9em GothamBold;
  position: relative;
  z-index: 1; }
  .nav__item {
    margin: 2em;
    margin-top: 1em;
    display: inline-block; }
  .nav__logo {
    margin: 1em;
    margin-left: 2.5em;
    height: 30px;
    position: absolute;
    z-index: 1; }

@media (max-width: 1055px), (max-height: 500px) {
  .nav {
    display: none; } }

.eventsBG2 {
  background-color: #FFF;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.events {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
  .events__title {
    margin: 0;
    font: 1.8em GothamBold;
    color: #DE5086; }
  .events__container {
    padding: 3em;
    margin-bottom: 3em;
    font-size: 1.05em; }
  .events__thumbnail {
    width: 300px;
    float: right; }
  .events__subtitle {
    font-weight: bold; }
  .events__description {
    font-weight: normal; }
  .events__button {
    font: .8em GothamBold;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #DE5086;
    padding: 1em 6em;
    border: 0;
    border-radius: 4px;
    position: absolute;
    margin-top: 1em; }
    .events__button:hover {
      background-color: #ec2c75; }
  .events__icon {
    width: 20px;
    margin: .5em;
    margin-right: .9em;
    margin-left: 0; }
  .events__divider {
    border-color: #d6d6d6; }
  .events__emptyTitle {
    text-align: center; }
  .events__emptyIcon {
    height: 6em;
    display: block;
    margin: 0 auto; }
  .events__emptyDesc {
    text-align: center;
    font-size: 1.2em; }

.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-iteration-count: 'infinite'; }

.landingBG {
  background: #ED7A87;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ED7A87, #DE5086);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ED7A87, #DE5086);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ED7A87, #DE5086);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ED7A87, #DE5086);
  /* Standard syntax */
  height: 60vh; }

.sublandingBG {
  background: #ED7A87;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #ED7A87, #DE5086);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #ED7A87, #DE5086);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #ED7A87, #DE5086);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #ED7A87, #DE5086);
  /* Standard syntax */
  height: 45vh; }

.landing {
  margin: auto;
  margin-top: 5.5em;
  max-width: 550px;
  text-align: center;
  color: #FFF;
  font-size: 1.2em;
  padding: 1em; }
  .landing__text--bold {
    font-weight: bold; }
  .landing__text--verticalAlign {
    position: relative;
    top: 40%;
    transform: translateY(-50%); }
  .landing__img {
    vertical-align: baseline; }
    .landing__img--small {
      margin-right: -.8em; }

.sublanding {
  margin: auto;
  margin-top: 6em;
  max-width: 550px;
  text-align: center;
  color: #FFF;
  font-size: 1.2em;
  padding: 1em; }
  .sublanding__title {
    font: 2em GothamBold;
    color: #FFF;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    text-transform: uppercase;
    position: relative;
    text-align: center; }
    .sublanding__title:after {
      content: "";
      background: #FFF;
      position: absolute;
      bottom: 0;
      left: calc(50% - 25px);
      height: 5px;
      width: 50px; }
  .sublanding__icon {
    margin: 1em;
    width: 2.8em; }

@media (max-width: 275px) {
  .landing__img--small {
    transform: scale(0.8);
    margin-right: -1.3em; }
  .landing__img--last, .landing__img {
    transform: scale(0.8);
    margin-right: 0; } }

@media (max-height: 930px) {
  .landingBG {
    height: 100vh; } }

button:focus {
  outline: 0; }

.clearButton {
  font: .7em GothamBold;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  background: rgba(255, 255, 255, 0.2);
  padding: 1em 5.5em;
  border: 0;
  border-radius: 4px; }
  .clearButton:hover {
    background: rgba(255, 255, 255, 0.4); }

.pinkButton {
  font: .7em GothamBold;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DE5086;
  padding: 1em 3em;
  margin-left: 1.2em;
  border: 0;
  border-radius: 4px; }
  .pinkButton--clearMargin {
    margin-left: 0em; }
  .pinkButton:hover {
    background-color: #ec2c75; }

.removeUnderline {
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: #FFF; }

@-webkit-keyframes typing {
  from {
    width: 0; }
  to {
    width: 99px; } }

@-moz-keyframes typing {
  from {
    width: 0; }
  to {
    width: 99px; } }

@-webkit-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #1E1E1E; } }

@-moz-keyframes blink-caret {
  from, to {
    border-color: transparent; }
  50% {
    border-color: #1E1E1E; } }

h1.type {
  color: #1E1E1E;
  font-family: Courier New;
  font-size: 2.5em;
  width: 99px;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.1em solid #1E1E1E;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-animation: typing 1s steps(4, end), blink-caret 1s step-end infinite;
  -moz-animation: typing 1s steps(4, end), blink-caret 1s step-end infinite; }

.aboutBG {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.about {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
  .about__title {
    font: 1.5em GothamBold;
    text-align: center; }
  .about__img--center {
    margin: auto;
    display: block; }
  .about__img--small {
    height: 110px; }
  .about__container--margin {
    margin-top: 3em; }

.eventsBG {
  background-color: transparent;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: url("../../assets/imgs/events__BGimg.png");
  background-size: cover;
  background-position: center; }

.workshopsBG {
  background-color: transparent;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: url("../../assets/imgs/workshops__BGimg.png");
  background-size: cover;
  background-position: center; }

.sponsorsBG {
  background-color: transparent;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: url("../../assets/imgs/sponsors__BGimg.png");
  background-size: cover;
  background-position: center; }
  .sponsorsBG__description {
    padding-bottom: 1em; }
  .sponsorsBG__button {
    font: .7em GothamBold;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
    padding: 1em 5.5em;
    border: 0;
    border-radius: 4px;
    margin-top: 2em; }
    .sponsorsBG__button:hover {
      background: rgba(255, 255, 255, 0.4); }

.imgSection {
  color: #FFF;
  position: relative;
  max-width: 900px;
  padding-top: 3em;
  padding-bottom: 3em;
  margin-right: auto;
  margin-left: auto; }
  .imgSection__title {
    font: 2em GothamBold;
    color: #FFF;
    margin: 0; }
    .imgSection__title--small {
      font: 1.5em GothamBold; }
  .imgSection--right {
    text-align: right; }
  .imgSection--center {
    text-align: center; }

.faqBG {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.faq {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
  .faq--center {
    text-align: center; }
  .faq__title {
    font: 1.5em GothamBold; }
    .faq__title--small {
      font: 1em GothamBold; }

.sponpartBG {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.sponpart {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
  .sponpart--center {
    text-align: center; }
  .sponpart__title {
    font: 1.5em GothamBold; }
  .sponpart__logo {
    max-width: 300px;
    max-height: 80px;
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
    .sponpart__logo--leftMargin {
      margin-left: 2em; }

.sponpart__logo:hover {
  -webkit-filter: none;
  filter: none; }

@media (max-width: 750px) {
  .sponpart__container--margin {
    margin-top: 3em; } }

.subscribeBG {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.subscribe {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
  .subscribe__title {
    font: 1.5em GothamBold; }

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 350px;
  width: calc(100% - 2em);
  vertical-align: top; }

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */ }

.input__field:focus {
  outline: none; }

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #6a7989;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%; }

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none; }

.icon {
  color: #ddd;
  font-size: 150%; }

/* Individual styles */
/* Isao */
.input__field--isao {
  z-index: 10;
  padding: 0.75em 0.1em 0.25em;
  width: 100%;
  background: transparent;
  color: #1E1E1E; }

.input__label--isao {
  position: relative;
  overflow: hidden;
  padding: 0;
  width: 100%;
  color: #1E1E1E;
  text-align: left; }

.input__label--isao::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 7px;
  background: #1E1E1E;
  -webkit-transform: scale3d(1, 0.4, 1);
  transform: scale3d(1, 0.4, 1);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.input__label--isao::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75em 0.15em;
  color: #DE5086;
  opacity: 0;
  -webkit-transform: translate3d(0, 50%, 0);
  transform: translate3d(0, 50%, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  pointer-events: none; }

.input__field--isao:focus + .input__label--isao::before {
  background-color: #DE5086;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.input__field--isao:focus + .input__label--isao {
  pointer-events: none; }

.input__field--isao:focus + .input__label--isao::after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.input__label-content--isao {
  padding: 0.75em 0.15em;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.input__field--isao:focus + .input__label--isao .input__label-content--isao {
  opacity: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.footerBG {
  background-color: #1E1E1E;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-top: 3em;
  padding-bottom: 3em; }

.footer {
  max-width: 900px;
  text-align: center;
  color: #FFF;
  margin-left: auto;
  margin-right: auto; }
  .footer__title {
    font-size: 1.2em;
    color: #FFF;
    font-weight: 300; }
  .footer__socialMediaIcon {
    height: 25px;
    margin: 1em; }
  .footer__logo {
    width: 45px; }
  .footer__copyright {
    font-size: .85em; }
    .footer__copyright--bold {
      font-weight: bold; }

.button_container {
  position: absolute;
  top: 2%;
  right: 3%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  display: none; }
  .button_container:hover {
    opacity: .7; }
  .button_container.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #DE5086; }
  .button_container.active .middle {
    opacity: 0;
    background: #DE5086; }
  .button_container.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #DE5086; }
  .button_container span {
    background: #FFF;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; }
    .button_container span:nth-of-type(2) {
      top: 11px; }
    .button_container span:nth-of-type(3) {
      top: 22px; }

.overlay {
  position: fixed;
  background: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden; }
  .overlay.open {
    opacity: .85;
    visibility: visible;
    height: 100%;
    z-index: 2; }
    .overlay.open li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s; }
      .overlay.open li:nth-of-type(2) {
        animation-delay: .4s; }
      .overlay.open li:nth-of-type(3) {
        animation-delay: .45s; }
      .overlay.open li:nth-of-type(4) {
        animation-delay: .50s; }
  .overlay nav {
    position: relative;
    height: 50%;
    top: 35%;
    transform: translateY(-50%);
    font-size: 4em;
    font-family: 'Reenie Beanie', cursive;
    font-weight: 400;
    text-align: center; }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; }
    .overlay ul li {
      display: block;
      height: 25%;
      min-height: 50px;
      position: relative;
      opacity: 0; }
      .overlay ul li a {
        display: block;
        position: relative;
        color: #1E1E1E;
        text-decoration: none;
        overflow: hidden;
        font: .7em GothamBold; }
        .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
          width: 100%; }
        .overlay ul li a:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          transform: translateX(-50%);
          height: 3px;
          background: #1E1E1E;
          transition: .35s; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%; }
  100% {
    opacity: 1;
    left: 0; } }

@media (max-width: 1055px), (max-height: 500px) {
  .button_container {
    display: block; } }

.workshopsBG2 {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.workshops {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e5e5e5;
  background-color: white;
  padding: 3em;
  margin-bottom: 2em;
  border-radius: .3em; }
  .workshops--empty {
    position: relative;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: 1px dashed #1E1E1E;
    padding: 3em;
    margin-bottom: 2em;
    border-radius: .3em; }
  .workshops__title {
    margin: 0 0 .5em 0;
    font: 1.8em GothamBold;
    color: #1E1E1E; }
    .workshops__title--center {
      text-align: center;
      font: 1.5em GothamBold;
      color: #1E1E1E; }
  .workshops__description {
    text-align: center;
    margin-bottom: 3em; }
  .workshops__button {
    font: .8em GothamBold;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #DE5086;
    padding: 1em 3em;
    border: 0;
    border-radius: 4px; }
    .workshops__button:hover {
      background-color: #ec2c75; }
  .workshops__icon {
    width: 2.7em;
    float: right; }
  .workshops__pill {
    display: inline-block;
    background-color: #DE5086;
    font-size: .8em;
    color: #FFF;
    font-weight: bold;
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 100em;
    text-transform: uppercase;
    margin-bottom: 1.7em; }
  .workshops__subtitle {
    font-weight: bold;
    color: #1E1E1E; }
  .workshops__container--noPadding {
    padding-left: 0;
    padding-right: 0; }

@media (max-width: 767px) {
  .workshops__container--margin {
    margin-top: 1em; } }

@media (max-width: 614px) {
  .workshops__button--margin {
    margin-top: .8em; } }

.pressBG {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.press {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto; }
  .press__container {
    position: relative;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #e5e5e5;
    background-color: white;
    padding: 3em;
    margin-bottom: 2em;
    border-radius: .3em; }
  .press__metadata {
    font-size: .8em; }
    .press__metadata--bold {
      font-weight: bold; }
  .press__title {
    margin: 0 0 .5em 0;
    font: 1.8em GothamBold;
    color: #1E1E1E; }
  .press__thumbnail {
    display: none;
    float: right;
    margin: 1em 0 1em 1em;
    height: 150px; }
    .press__thumbnail--smol {
      display: none;
      margin: 1em 1em 1em 1em;
      height: 10w t0px;
      float: right; }
    .press__thumbnail--noHeight {
      display: none;
      margin: 1em 1em 1em 1em;
      height: 100%;
      float: right; }
  .press__button {
    display: block;
    font: .8em GothamBold;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #DE5086;
    padding: 1em 6em;
    border: 0;
    border-radius: 4px;
    position: inherit;
    margin-top: 1em; }
    .press__button:hover {
      background-color: #ec2c75; }
  .press__icon {
    width: 20px;
    margin: .5em;
    margin-right: .9em;
    margin-left: 0; }
  .press__divider {
    border-color: #d6d6d6;
    margin: 3em 0; }

.iframe-embed {
  padding-bottom: 45%; }

.blogBG2 {
  background-color: #F9F9F9;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em; }

.blog__container {
  position: relative;
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #e5e5e5;
  background-color: white;
  padding: 3em;
  margin-bottom: 2em;
  border-radius: .3em; }

.blog__title {
  margin: 0 0 .5em 0;
  font: 1.8em GothamBold;
  color: #1E1E1E; }

.blog__button {
  font: .8em GothamBold;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DE5086;
  padding: 1em 3em;
  border: 0;
  border-radius: 4px; }
  .blog__button:hover {
    background-color: #ec2c75; }

.blog__author > h4 {
  display: inline;
  font-weight: bold;
  margin-bottom: 3em; }

.blog__date {
  display: inline;
  font-weight: bold; }

.blog__container--noPadding {
  padding-left: 0;
  padding-right: 0; }

.read__more {
  display: block;
  font: .8em GothamBold;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DE5086;
  margin-top: 2em;
  padding: 1em 3em;
  border: 0;
  border-radius: 4px; }
  .read__more:hover {
    background-color: #ec2c75; }

.read__less {
  display: block;
  font: .8em GothamBold;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DE5086;
  padding: 1em 3em;
  border: 0;
  border-radius: 4px; }
  .read__less:hover {
    background-color: #ec2c75; }

.more__text {
  margin-top: 2em; }

.more__text > figure {
  text-align: center; }

.more__text > figure > img {
  max-width: 100%;
  height: auto; }

.more__text > figure > figcaption {
  font-size: .9em;
  font-weight: bold;
  padding-top: .5em; }

.solidBG {
  background-color: #FFF;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  padding-top: 7em;
  padding-bottom: 7em; }

.imgBG1 {
  background-color: transparent;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: url("../../assets/imgs/getInvolved/getInvolved__volunteer.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 10em;
  padding-bottom: 10em; }

.imgBG2 {
  background-color: transparent;
  padding: 7vw;
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: url("../../assets/imgs/getInvolved/getInvolved__laptop.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 10em;
  padding-bottom: 10em; }

.getInvolvedContent {
  color: #FFF;
  position: relative;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto; }
  .getInvolvedContent--light {
    color: #1E1E1E; }
  .getInvolvedContent__title {
    font: 2em GothamBold;
    margin: 0; }
    .getInvolvedContent__title--small {
      font: 1em GothamBold; }

body {
  -webkit-font-smoothing: antialiased !important;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11.5pt;
  line-height: 1.42857143;
  font-weight: 400;
  letter-spacing: .1pt;
  margin: 0;
  padding-top: -50px; }

.link--pink {
  color: #DE5086; }
  .link--pink:hover {
    color: #DE5086; }
  .link--pink:active {
    color: #DE5086;
    text-decoration: none; }
  .link--pink:visited {
    color: #DE5086;
    text-decoration: none; }

.link--white {
  color: #F9F9F9; }
  .link--white:hover {
    color: #F9F9F9;
    text-decoration: none; }
  .link--white:active {
    color: #F9F9F9;
    text-decoration: none; }
  .link--white:visited {
    color: #F9F9F9;
    text-decoration: none; }

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
  padding-bottom: 1em; }

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #FFF;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0; }

/* Float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out; }

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px); }
