.blogBG2 {
	@include contentSection($lightgrey);
}

.blog {
	@include element('card') {
		background: black;
		max-width: 900px;
		border: 1px solid $lightgrey2;
		border-radius: .3em;
		margin-bottom: 2em;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}

	@include element('container') {
    	background-color: white;
		padding: 3em;
	}

	@include element('title') {
		margin: 0 0 .5em 0;
		font: 1.5em GothamBold;
		color: $darkgrey;
	}

	@include element('button') {
		font: .8em GothamBold;
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		background-color: $darkpink;
		padding: 1em 3em;
		border: 0;
		border-radius: 4px;

		@include modifierLink('hover') {
			background-color: #ec2c75;
		}
	}

	@include element('author > h4') {
		display: inline;
		font-weight: bold;
		margin-bottom: 3em;
	}

	@include element('date') {
		display: inline;
		font-weight: bold;
	}

	@include element('container') {
		@include modifier('noPadding') {
			padding-left: 0;
			padding-right: 0;
		}
	}

	@include element('thumbnail') {
		position: relative;
		height: 250px;
		border-radius: 2px 2px 0 0;
		object-fit: cover;
  		object-position: 50% 35%; /* default value: image is centered*/
		width: 100%;

		@include modifier('overlay') {
			content:'';
  			opacity: 0.55;
  			filter: alpha(opacity=60); /* For IE8 and earlier */
		}
	}
}

.read {
	@include element('more') {
		font: .8em GothamBold;
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		background-color: $darkpink;
		margin-top: 2em;
		padding: 1em 3em;
		border: 0;
		border-radius: 4px;
		margin-right: 1em;

		@include modifierLink('hover') {
			background-color: #ec2c75;
		}
	}

	@include element('less') {
		font: .8em GothamBold;
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		background-color: $darkpink;
		padding: 1em 3em;
		border: 0;
		border-radius: 4px;
		margin-right: 1em;

		@include modifierLink('hover') {
			background-color: #ec2c75;
		}
	}

	@include element('medium') {
		font: .8em GothamBold;
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		background-color: $darkpink;
		padding: 1em 3em;
		border: 0;
		border-radius: 4px;

		@include modifierLink('hover') {
			background-color: #ec2c75;
			text-decoration: none;
		}
	}
}

.more__text {
	margin-top: 2em;
}

.more__text > figure {
	text-align: center;
}

.more__text > figure > img {
	max-width: 100%;
	height: auto;
}

.more__text > figure > figcaption {
	font-size: .9em;
	font-weight: bold;
	padding-top: .5em;
}

@media (max-width: 614px) {
	.blog--mobile {
		padding: 1.8em;
	}

	.blogBG2--mobile {
		padding-left: 1em;
		padding-right: 1em;
	}

	.mobileMargin {
        margin-top: 0.7em;
    }
}